/* fonts */
/* 
font-family: 'Anton', sans-serif;
font-family: 'Arima', cursive;
font-family: 'Caveat', cursive;
font-family: 'Kiwi Maru', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Patrick Hand', cursive;
font-family: 'Petit Formal Script', cursive;
*/
body {
    padding: 0;
    margin: 0;
}

section {
    height: 100vh;
    font-size: 18px;
    background-color: #F20587;
}

.container {
    width: max-content;
    margin: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    position: relative;
}

.container > div {
    padding: 0 200px;
}

h1, h2 {
    font-family: 'Caveat', cursive;
    margin: 0;
    line-height: 1.1;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 1.6rem;
    margin-bottom: 50px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.6;
    color: #F20587;
}

.highlighted-text {
    font-style: italic;
    margin-left: 50px;
}

.autorzy-utworu {
    margin-top: 70px;
    font-size: 0.75rem;
    line-height: 1.5;
    font-weight: 500;
    color: #000;
}

.melody-number {
    position: absolute;
    top: 3vh;
    left: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 50%;
    padding: 0;
    background: #201f2d;
    color: white;
    font-weight: 900;
    font-size: 115px;
    font-family: 'Caveat', cursive;
}

.container > .melody-number {
    padding: 0;
}

.song-number span {
    margin-left: -30px;
    margin-top: -13px;
}